:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575; 
    --fuente-principal: 3.8rem;

}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;

}


.titulo{
    text-align: center;
    /* text-transform: uppercase; */
    font-size: var(--fuente-principal); /*1 rem = 10 px*/
    font-family: 'Krub', sans-serif;
}
.titulo span{
    font-size: 2rem;
    
}
nav{
    text-align: center;
}
